
html {
    font-size: 40px;
}

p   {
    font-size: 30px;
}

#img1 img {
    left: 0;
    top: 0;
    position: absolute;
    z-index: 0;
    max-width: 100%;
}

#img2 img {
    top: 0;
    position: absolute;
    z-index: 1;
    max-width: 12%;
    opacity: 60%;
    justify-content: center;
    left: 0;
}

#img3 img {
    left: 0;
    top: 0;
    position: absolute;
    z-index: 2;
    font-size: 100px;
    color: azure;
}

.scoreboard {
    position: absolute;
    right: 0;
    top: 0;
    justify-content: center;
    height: 10vw;
    width: 35vw;
    font-weight: bold;
    background-color: white;
    display: flex;
    font-size: 10vw;
    opacity: 70%;

}

