@media (max-width: 599px) {
    #narrowScreen   {
        background-color: purple;
        color: green;
    }
}

@media (min-width: 801px)   {
    #wideScreen {
        background-color: lightblue;
        color: red;
    }
}

@media (max-height: 800px)   {
    #shortScreen {
        background-color: lightblue;
        color: red;
    }
}

#tallScreen{

}
